<!--
  Generated template for the AddTodoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>AddTodo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label floating>Title</ion-label>
    <ion-input type="text" [(ngModel)]="todoItem.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Text </ion-label>
    <ion-input type="text" [(ngModel)]="todoItem.detail"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Color </ion-label>
    <ion-input type="text" [(ngModel)]="todoItem.color"></ion-input>
  </ion-item>
  <button ion-button block (click)="addTodoItem(todoItem)">Add Todo</button>
  </ion-content>
