<ion-header>
  <ion-navbar color="primary"> 
    <ion-title>
      Todo List
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="navigateToAddTodoPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list >
    <ion-item *ngFor="let todo of todoList" (click)="navigateToItemPage(todo)" >
      <div clas="todo-item" [style.background]="todo.color">
        <h2 >{{todo.title}} </h2>
        <p> {{todo.detail}} </p>
        <ion-note item-end>{{todo.create_at}}</ion-note>
    </div>
    </ion-item>
  </ion-list>
  
</ion-content>