<ion-header>
  <ion-navbar color="primary"> 
    <ion-title>
      Todo
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="navigateToAddTodoPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let todo of todoList">
    <ion-item [style.background]="todo.color">
      <h2>{{todo.title}} </h2>
      <p> {{todo.detail}} </p>
      <ion-note item-end>{{todo.create_at}}</ion-note>
    </ion-item>
  </ion-list>
  
</ion-content>