<!--
  Generated template for the TodoItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{todoItem.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>{{todoItem.title}}</h2>
  <p> Detail : {{todoItem.detail}}</p>
  <p>Priority: {{todoItem.priority}}</p>
  <p> Create At : {{todoItem.create_at}}</p>

</ion-content>
